<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.name }}'s Watchlist</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    <h2>
        <img class="avatar" alt="Avatar" src="{{ url_for('static', filename='images/python-black_300x300.png') }}">
        {{ user.name }}'s Watchlist
    </h2>
    <ul class="movie-list">
        <li>
            Page Not Found - 404
            <span class="float-right">
                <a href="{{ url_for('index') }}">Go Back</a>
            </span>
        </li>
    </ul>
<footer>
    <small>&copy;2019 <a href="http://blog.fullstackpentest.com">TesterCC</a> </small>
</footer>
</body>
</html>